.wrap{
	weidth: 1000px;
	margin: 0 auto;
}
 
/*bagian header*/
.wrap .header{
	border: 1px solid #000000;
	margin-bottom: 50px;
	background:url(pevita.jpg);
	padding: 200px;
}
 
/*akhir header*/
 
/*bagian menu*/
.wrap .menu{
	background: yellow;
}
 
.wrap .menu ul{
	padding: 0;
	margin: 0;
	background: yellow;
	overflow: hidden;
}
 
.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
/*akhir menu*/
 
.clear{
	clear: both;
}
 
.badan{
	height: 450px;
}

 
.wrap .footer{
	background: gray;
	width: 100%;
	padding: 10px;
}
h1,p{color: white;}
.konten-ditengah {
display: table-cell;
vertical-align: middle;
}
h2{color: black;}
.konten-ditengah {
display: table-cell;
vertical-align: middle;
}


